<div class="title-gallery">kleinere Werke auf Zeitschriftenpapier</div>
{% set pathToSmallPaintings = 'img/gallery/paintings_small' %}
<div class="potrait-paintings-slider">
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Einwegland</b> (2016)</div>
		<picture>
			<source media="(min-width: 768px)" srcset="{{ pathToSmallPaintings }}/large/L01.jpg">
			<source media="(min-width: 576px)" srcset="{{ pathToSmallPaintings }}/medium/M01.jpg">
			<img class="placeholder" src="{{ pathToSmallPaintings }}/small/S01.jpg" title="Einwegland" alt="Einwegland" />
		</picture>
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Einwegland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Festland</b> (2016)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Festland" alt="Festland"
			data-flickity-lazyload-srcset="{{ pathToSmallPaintings }}/small/S02.jpg 318w, {{ pathToSmallPaintings }}/medium/M02.jpg 546w, {{ pathToSmallPaintings }}/large/L02.jpg 684w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 684px" />
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Festland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Urtierchenland</b> (2016)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Urtierchenland" alt="Urtierchenland"
			data-flickity-lazyload-srcset="{{ pathToSmallPaintings }}/small/S03.jpg 300w, {{ pathToSmallPaintings }}/medium/M03.jpg 514w, {{ pathToSmallPaintings }}/large/L03.jpg 644w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 644px" />
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Urtierchenland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Eisland</b> (2016)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Eisland" alt="Eisland"
			data-flickity-lazyload-srcset="{{ pathToSmallPaintings }}/small/S04.jpg 322w, {{ pathToSmallPaintings }}/medium/M04.jpg 552w, {{ pathToSmallPaintings }}/large/L04.jpg 691w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 691px" />
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Eisland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Parkland</b> (2016)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Parkland" alt="Parkland"
			data-flickity-lazyload-srcset="{{ pathToSmallPaintings }}/small/S05.jpg 324w, {{ pathToSmallPaintings }}/medium/M05.jpg 556w, {{ pathToSmallPaintings }}/large/L05.jpg 696w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 696px" />
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Parkland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Stromland</b> (2016)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Stromland" alt="Stromland"
			data-flickity-lazyload-srcset="{{ pathToSmallPaintings }}/small/S06.jpg 324w, {{ pathToSmallPaintings }}/medium/M06.jpg 555w, {{ pathToSmallPaintings }}/large/L06.jpg 695w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 695px" />
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Stromland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
		<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Bioland</b> (2016)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Bioland" alt="Bioland"
			data-flickity-lazyload-srcset="{{ pathToSmallPaintings }}/small/S07.jpg 330w, {{ pathToSmallPaintings }}/medium/M07.jpg 566w, {{ pathToSmallPaintings }}/large/L07.jpg 709w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 709px" />
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Bioland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Verpackungsland</b> (2016)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Verpackungsland" alt="Verpackungsland"
			data-flickity-lazyload-srcset="{{ pathToSmallPaintings }}/small/S08.jpg 334w, {{ pathToSmallPaintings }}/medium/M08.jpg 573w, {{ pathToSmallPaintings }}/large/L08.jpg 718w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 718px" />
		<div class="title-bottom d-sm-none d-block">Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Verpackungsland</b> - 2016 - Tusche auf Zeitschriftenpapier - 20 x 27 cm</div>
	</div>
</div>