<div class="title-gallery">Aquarelle auf Hängeregistratur</div>
{% set pathToBigPaintings = 'img/gallery/paintings_potrait' %}
<div class="potrait-paintings-slider">
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Boden erkrankt</b> (2017)</div>
		<picture>
			<source media="(min-width: 768px)" srcset="{{ pathToBigPaintings }}/large/L01.jpg">
			<source media="(min-width: 576px)" srcset="{{ pathToBigPaintings }}/medium/M01.jpg">
			<img class="placeholder" src="{{ pathToBigPaintings }}/small/S01.jpg" title="Boden erkrankt" alt="Boden erkrankt" />
		</picture>
		<div class="title-bottom d-sm-none d-block">Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Boden erkrankt</b> - 2017 - Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Bodenleiter</b> (2017)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Bodenleiter" alt="Bodenleiter"
			data-flickity-lazyload-srcset="{{ pathToBigPaintings }}/small/S02.jpg 294w, {{ pathToBigPaintings }}/medium/M02.jpg 405w, {{ pathToBigPaintings }}/large/L02.jpg 478w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 478px" />
		<div class="title-bottom d-sm-none d-block">Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Bodenleiter</b> - 2017 - Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Bodenkammer</b> (2017)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Bodenkammer" alt="Bodenkammer"
			data-flickity-lazyload-srcset="{{ pathToBigPaintings }}/small/S03.jpg 294w, {{ pathToBigPaintings }}/medium/M03.jpg 405w, {{ pathToBigPaintings }}/large/L03.jpg 478w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 478px" />
		<div class="title-bottom d-sm-none d-block">Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Bodenkammer</b> - 2017 - Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
	</div>
	<div class="gallery-cell">
		<div class="title-top d-sm-none d-block"><b>Bodenpfand</b> (2017)</div>
		<img class="placeholder" src="img/gallery/placeholder.png" title="Bodenpfand" alt="Bodenpfand"
			data-flickity-lazyload-srcset="{{ pathToBigPaintings }}/small/S04.jpg 294w, {{ pathToBigPaintings }}/medium/M04.jpg 405w, {{ pathToBigPaintings }}/large/L04.jpg 478w" 
			sizes="(max-width: 576px) 100%, (min-width: 576px) and (max-width: 768px) auto, (min-width: 768px) 478px" />
		<div class="title-bottom d-sm-none d-block">Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
		<div class="title-bottom d-none d-sm-block"><b>Bodenkammer</b> - 2017 - Tusche, Aquarell auf Hängeregistratur - 48 x 32 cm</div>
	</div>
</div>